---
const { title, version, updated, author, license } = Astro.props;
---
<table class="header">
  <tr>
    <td colspan="2" rowspan="2" class="width-auto">
      <h1 class="title">{title}</h1>
      <span class="subtitle">Subtitle</span>
    </td>
    <th>Version</th>
    <td class="width-min">{version}</td>
  </tr>
  <tr>
    <th>Updated</th>
    <td class="width-min"><time style="white-space: pre;">{updated}</time></td>
  </tr>
  <tr>
    <th class="width-min">Author</th>
    <td class="width-auto"><a href="https://www.github.com/hydepwns"><cite>{author}</cite></a></td>
    <th class="width-min">License</th>
    <td>{license}</td>
  </tr>
</table>
